/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */

:root {
    --circle-dimension: 250px;
    --font-1: "Poppins", sans-serif;
    --font-2: 'Bodoni Moda', serif;
}

/* style */

main {
    display: flex;
    flex-direction: column;
}

body {
    background-color: white;
}

/* first section */

.h1-container {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--font-2);
    font-weight: 400;
    z-index: 1;
    color: #ffffff;
    mix-blend-mode: difference;
}

h1>span {
    font-style: italic;
    font-weight: 700;
}

/* circle element */

.circle {
    position: absolute;
    left: 45%;
    top: 40%;
    display: block;
    position: fixed;
    /* z-index: -1; */
}

.circle-form {
    height: var(--circle-dimension);
    width: var(--circle-dimension);
    background-color: rgb(223, 14, 14);
    border-radius: 50%;
    display: block;
}

/* second section */

.controls {
    font-family: var(--font-1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15vh 5vw;
    gap: 2rem;
}

.controls h2 {
    margin-bottom: 2rem;
    width: fit-content;
}

/* inputs: slider + color */

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2rem;
}

/* slider */

#slider-size {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

/* slider - thumb */

#slider-size::-webkit-slider-thumb {
    -webkit-appearance: none;
}

#slider-size:focus {
    outline: none;
}

#slider-size::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

#slider-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border: 3px solid white;
    outline: none;
    border-radius: 10px;
    background: black;
    cursor: pointer;
    margin-top: -10px;
}

#slider-size::-webkit-slider-thumb:focus {
    outline: 2px solid red;
}

#slider-size::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border: 3px solid white;
    outline: none;
    border-radius: 10px;
    background: black;
    cursor: pointer;
}

/* size slider - track */

#slider-size::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    border-radius: 1.3px;
    border: 0.2px solid black;
}

#slider-size::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    border-radius: 1.3px;
    border: 0.2px solid black;
    background-color: black;
}

/* color picker */

.color-picker-wrapper {
    position: relative;
}

#color-svg {
    pointer-events: none;
    z-index: 1;
}

#color-svg,
#color-picker {
    position: absolute;
}

#color-picker {
    border-radius: 10%;
    height: 64px;
    width: 64px;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    align-self: center;
    cursor: pointer;
    opacity: 0;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 10%;
}
